{% extends "base.html" %}

{% load static %}
{% block content %}


<div class="container-fluid">
    <div class="row">

        <!--Blog Entries Column-->
        <div class="col-12 mt-3 left">
            <div class="row">

                <div>
                    <h1>Welcome to Bloglinks</h1>
                    <br>
                    <h2>Here we will show you a list of blogs</h2>
                    <br>
                    <h5>And some more information

                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}