@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    letter-spacing: 0.03em;
    background-color: #170533;
    font-family: 'Montserrat', serif;
    font-weight: bold;
}

.header-image {
    background-image: url("https://res.cloudinary.com/bobgoodi/image/upload/v1679917188/static/assets/media/images/site/scifiheader2.bb497593c67b.jpg")
}

nav {
    background-color: #130628;
}

footer {
    background-color: #030316;

}